:root {
  --main-bg-color: #f8fafc;
  --main-text-color: #1a202c;
  --main-accent-color: #ff9776;
  --secondary-accent-color: #4c1d95;

  --dark-bg-color: #1a202c;
  --dark-text-color: #f1f5f9;
  --dark-accent-color: #ff9776;

  --color-blue: #3897d3;
  --color-blue-hover: #1677be;
  --color-yellow: #eef13b;
  --color-yellow-hover: #d9e000;
  --box-shadow: rgba(0, 0, 0, 0.2);
}

html {
  background-color: var(--main-bg-color);
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#page-content {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  min-height: 100vh;
}

article {
  flex: 1;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
  color: var(--color-blue);
}

a:hover {
  color: var(--color-blue-hover);
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--main-accent-color);
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: var(--main-accent-color);
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links button {
  display: flex;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
a:focus {
  background-color: var(--main-accent-color);
}

.expanded {
  display: unset;
  position: fixed;
  right: 1rem;
  /* background-color: #fff; */
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

footer {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}

.dark footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.dark body {
  color: var(--dark-text-color);
  background-color: var(--dark-bg-color);
}

.dark {
  color: var(--dark-text-color);
  background-color: var(--dark-bg-color);
}

.dark .display-box {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
  border-color: var(--dark-accent-color);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 1), 0 2px 10px 0 rgba(0, 0, 0, 1);
}

.dark .nav-links a {
  color: var(--dark-text-color);
  background-color: var(--dark-bg-color);
}

.dark .social-link-icon {
  color: white;
}

.scroll {
  position: fixed;

  /* left: 0; */

  z-index: -1;
}

/* background image if wanted for scrolling effect? */
/* .coolbackground {
  transform: rotate(81deg);

  top: 0.5rem;
  background-size: cover;
  background-repeat: calc(100% + 1rem);
  z-index: 1;
}

.dark .coolbackground {
  content: url("../assets/images/dark-background.png");
} */
