:root {
  /* fonts */
  --fs-200: 14px;
  --fs-300: 20px;
  --fs-400: 22px;
  --fs-500: 32px;
  --lh-1: 1;
  --lh-1-1: 1.1;
  --lh-1-4: 1.4;

  /* colors */
  --bkg: 248 80% 98%;
  --muted: 248 15.7% 80%;
  --text: 246 76% 4.9%;
  --accent: 245 75% 54.5%;
  --accent2: 40 98.2% 43.7%;

  /* Dark Mode colors */
  --darkbkg: 68 80% 2%;
  --darkmuted: 69 17% 92%;
  --darktext: 66 76% 95%;
  --darkaccent: 65 75% 45%;
  --darkaccent2: 220 98% 56%;

  /* utils */
  --space-sm: clamp(0.4rem, 1.5vw, 0.8rem);
  --space-md: clamp(1rem, 2.5vw, 1.4rem);
  --space-lg: clamp(2rem, 4vw, 2.2rem);
  --content: 50ch;
  --round-sm: 4px;
  --round-md: 10px;
  --round-lg: 15px;
  --round-full: 100vmax;
}

html {
  background-color: hsl(var(--bkg));
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 120ch;
  padding: 1rem;
  line-height: 1.5;
}

.page-content {
  margin-top: 5rem;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: hsl(var(--accent));
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: hsl(var(--accent));
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
a:focus {
  background-color: hsl(var(--accent));
}

.expanded {
  display: unset;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 80%;
}

@media screen and (min-width: 670px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

.dark body {
  color: hsl(var(--darktext));
}

.dark html {
  color: hsl(var(--darktext));
}

.dark {
  color: hsl(var(--darktext));
  background-color: hsl(var(--darkbkg));
}

.dark .nav-links a {
  color: hsl(var(--darktext));
}

.dark .nav-links a:hover {
  background-color: hsl(var(--darkaccent));
}

.scroll {
  position: fixed;

  z-index: -1;
}

.coolbackground {
  content: url("../assets/images/cool-background.png");
  transform: rotate(81deg);

  top: 0.5rem;
  background-size: cover;
  background-repeat: calc(100% + 1rem);
  z-index: 1;
}

.dark .coolbackground {
  content: url("../assets/images/dark-background.png");
}
