<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/portfolio/">Portfolio</a>
  <h1>Bryson Best</h1>
  <h1>About Me</h1>
  <h2>Welcome to my personal site</h2>

  <p>
    I am a full-stack developer working with open-source projects to provide
    freelance services and build accessible, inclusive products for the web.
  </p>

  <p>I offer freelance full-stack development services.</p>
</body>
