---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogList from "../components/BlogList.astro";
import "../styles/global.css";

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <h2>Check out my posts</h2>
    <p>I post about things I find interesting.</p>
  </div>
  <div class="container written-content">
    <BlogList />
    <p>content holder for side column</p>
  </div>
</BaseLayout>
