<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/portfolio/">Portfolio</a>
  <h1>Bryson Best</h1>
  <h1>Blog</h1>
  <h2>Check out my posts</h2>
  <p>I post about things I find interesting.</p>
</body>
