---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/react-components/Greeting";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome to my personal site.</h2>
  <Greeting
    client:load
    messages={["Hello", "Hola", "Bonjour", "Ciao", "Hallo"]}
  />
</BaseLayout>
