---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
import PageHeader from "../components/PageHeader.astro";
import DisplayBox from "../components/DisplayBox.astro";
import BlogList from "../components/BlogList.astro";
const heroImage = "../assets/images/me.png";
// const pageTitle = "Home Page";
---

<BaseLayout>
  <PageHeader
    subheader="Welcome to my website, my name is Bryson!"
    image={heroImage}
    imageAlt="A picture of me"
  >
    <Greeting
      slot="after-header"
      client:load
      messages={["Hello", "Hola", "Bonjour", "Ciao", "Hallo"]}
    />
    <>
      I am a full-stack developer with experience in React, Vue, Node, Express,
      MongoDB, and more! If you'd like to see some of my work, please check out
      my <a href="/portfolio">portfolio</a>. You can also check out my <a
        href="https://resume.creddle.io/resume/fkufvsnzdat"
        target={"_blank"}
        rel="noreferrer">resume</a
      >, or contact me on <a
        href="https://www.linkedin.com/in/bryson-best"
        target={"_blank"}
        rel="noreferrer">LinkedIn</a
      > if you'd like to get in touch!
    </>
  </PageHeader>
  <div class="hero-items">
    <a href="/skills">
      <DisplayBox>
        <p slot="box-image">Skills image</p>
        <p slot="box-header">Skills</p>
        <p slot="box-content">Content of SKills</p>
      </DisplayBox>
    </a>
    <DisplayBox>
      <p slot="box-image">Skills image</p>
      <p slot="box-header">Skills</p>
      <p slot="box-content">Content of SKills</p>
    </DisplayBox>
    <DisplayBox>
      <p slot="box-image">Skills image</p>
      <p slot="box-header">Skills</p>
      <p slot="box-content">Content of SKills</p>
    </DisplayBox>
  </div>
  <div class="recent-articles-list">
    <h3>Recent Articles</h3>
    <BlogList shortlist={4} />
  </div>
</BaseLayout>

<style>
  .hero-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
  }

  .hero-items a {
    text-decoration: none;
    color: inherit;
  }
</style>
