---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "Porfolio";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Take a look at some of my projects</h2>
  <p>Just a snapshot of some of my projects.</p>
</BaseLayout>
