---
import BaseLayout from "../layouts/BaseLayout.astro";
import DisplayBox from "../components/react-components/DisplayBox.jsx";
const pageTitle = "Testing Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome to my testing page.</h2>
  <div class="card-wrapper">
    <DisplayBox
      client:load
      body="This is a test"
      title="Hello Testing!"
      subtitle={"Oops, I did it again!"}
    />

    <DisplayBox
      client:load
      body="This is a test"
      title="Hello Testing!"
      subtitle={"Oops, I did it again!"}
    />
  </div>
</BaseLayout>
