---
import BaseLayout from "../layouts/BaseLayout.astro";
import DisplayBox from "../components/DisplayBox.jsx";
const pageTitle = "Testing Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome to my testing page.</h2>
  <DisplayBox client:load />
</BaseLayout>
