---
import Github from "../../public/Github.astro";
import Social from "./Social.astro";
// import github_icon from "./public/github_icon.astro";
import GitHub from "./public/Github.astro";
import LinkedIn from "./public/LinkedIn.astro";
import Twitter from "./public/Twitter.astro";
import YouTube from "./public/YouTube.astro";

// import twitter_icon from "../assets/twitter_icon.svg";
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="footer-container">
    <div id="footer-website-info">
      <p>
        &copy; {currentYear} Bryson Best <br />
        <a href="/privacy-policy/">Privacy Policy</a>
      </p>
    </div>

    <div id="footer-socials">
      <Social platform="twitter" username="brysonjbest"><Twitter /></Social>
      <Social platform="github" username="brysonbest"><GitHub /></Social>
      <Social platform="github" username="brysonjbest"><Github /></Social>
      <Social platform="youtube" username="@brysonbest"><YouTube /></Social>
    </div>
  </div>
</footer>

<style>
  footer {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: space-around;
    width: 100%;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    max-width: 80ch;
  }

  #footer-website-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    width: fit-content;
  }

  #footer-socials {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
  }
</style>
