---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import PersonalLogo from "./PersonalLogo.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <a href="/">
    <PersonalLogo />
  </a>
  <div class="navbar-content">
    <nav class="navbar-header">
      <div class="header-bar-constant">
        <Hamburger />
      </div>
      <div class="header-bar">
        <Navigation />
      </div>
    </nav>
    <ThemeIcon />
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
  }
  .navbar-header {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .header-bar-constant {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .navbar-content {
    display: flex;
    flex-direction: row;
  }
</style>
