<button id="personalLogo">
  <svg
    width="75"
    height="50"
    viewBox="0 0 117 109"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="sun"
      d="M28.1907 82.3287L36.8922 53.0098M58.4631 51.9102L50.3904 7.52894L36.8922 53.0098M58.4631 51.9102C58.4631 51.9102 58.4631 59.3901 66.5357 96.2914C74.6084 133.193 36.8922 53.0098 36.8922 53.0098M58.4631 51.9102C36.8922 53.0098 36.8922 53.0098 94.79 19.4969C152.688 -14.0159 64.4244 14.5103 22.1362 31.4649L36.8922 53.0098M58.4631 51.9102C151.744 82.1132 76.676 87.9472 7 82.3287L36.8922 53.0098"
      stroke="black"
      stroke-width="6"></path>
    <path
      class="moon"
      d="M28.1907 82.3287L36.8922 53.0098M58.4631 51.9102L50.3904 7.52894L36.8922 53.0098M58.4631 51.9102C58.4631 51.9102 58.4631 59.3901 66.5357 96.2914C74.6084 133.193 36.8922 53.0098 36.8922 53.0098M58.4631 51.9102C36.8922 53.0098 36.8922 53.0098 94.79 19.4969C152.688 -14.0159 64.4244 14.5103 22.1362 31.4649L36.8922 53.0098M58.4631 51.9102C151.744 82.1132 76.676 87.9472 7 82.3287L36.8922 53.0098"
      stroke="white"
      stroke-width="6"></path>
  </svg>
</button>

<style>
  #personalLogo {
    border: 0;
    background: none;
  }
  .sun {
    /* fill: black; */
    display: block;
  }
  .moon {
    /* fill: transparent */
    display: none;
  }

  :global(.dark) .sun {
    /* fill: transparent; */
    display: none;
  }
  :global(.dark) .moon {
    /* fill: white; */
    display: block;
  }
</style>
